body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #f4f4f4;
    overflow: hidden; 
    text-align: center; 
    flex-direction: column;
}

.bokor-regular {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}  

.titulo {
    position: absolute;
    display: block;
}

.titulo h1 {
    margin: 0;
    font-size: 100px;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}

.titulo-animado {
    text-decoration: none;
    font-weight: bold;
    font-size: 100px;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    animation: rainbowText 7s linear infinite;
}

@keyframes rainbowText {
    0% { color: red; }
    16% { color: orange; }
    32% { color: yellow; }
    48% { color: green; }
    64% { color: blue; }
    80% { color: indigo; }
    100% { color: violet; }
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}