body {
    background: linear-gradient(to bottom, 
      #D60280 0%, 
      #D60270 30%, 
      #9B4F96 50%, 
      #4A4BB3 70%, 
      #0038A8 100%);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  