body {
    background: linear-gradient(to bottom,
      #FF9BCD 0%,
      #FF53C2 25%,
      #3366CC 50%,
      #6D9FFF 100%,
      #3A4EED 75%);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
  }
  