body {
    background: linear-gradient(to bottom, 
    #FF218C 0%, 
    #FFD800 30%,
    #ebc900 50%,
    #21B1FF 100%);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
  }